---
layout: page
title: Home
---

{% assign pdf_files = site.static_files | where:'pdf' ,true %}
{% for mypdf in pdf_files %}
  {{{ mypdf.path | absolute_url }}
{% endfor %}

{% assign image_files = site.static_files %}
{% for myimage in image_files %}
    {{ myimage.path | absolute_url }}
    {{ myimage.pdf }}
{% endfor %}

<nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}
</nav>
    