<article class="post">
  <header class="post-header">
    <div class="post-title">
      {{ page.name }}
    </div>
  </header>

  <div class="post-content">
    {% assign image_files = site.static_files | where: "image", true %}
    {% for myimage in image_files %}
      {%- if myimage.basename == page.short_name -%}
        <img src="{{ myimage.path  }}" class ="img-responsive">
      {%- endif -%}
    {% endfor %}
    {{ content }}
    <h2>Posts</h2>
    <ul>
      {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
      {% for post in filtered_posts %}
        <li>{{ post.date | date: "%Y/%m/%d" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</article>
