<article class="post">
    <header class="post-header">
      <div class="post-title">
        {{ page.name }}
      </div>
    </header>
  
    <div class="post-content">
      {% assign image_files = site.static_files | where: "image", true %}
      {% for myimage in image_files %}
        {% if myimage.basename == page.short_name %}
          <img src="{{ myimage.path | absolute_url }}" class ="img-responsive">
        {% endif %}
      {% endfor %}
      <ul>
        <li>発行日:{{ page.date_of_issue }}</li>
        <li>ページ数:{{ page.total_number_of_pages }}</li>
        <li><a href="{{ site.url }}hoehoe_practice/assets/dojinshi/{{page.short_name}}.pdf">download</a></li>
      </ul>
      {{ content }}
    </div>
  </article>
  