<article class="post">
  <header class="post-header">
    <div class="post-title">
      {{ page.title | escape }}
    </div>
    <div>
      {% assign author = site.authors | where: 'short_name', page.author | first %}
      {% if author %}
        auther: <a href="{{ author.url | relative_url }}">{{ author.name }}</a>
      {% endif %}
    </div>
    <div>
      tag: 
      {% for tag_name in page.tags %}
        <a href="{{ site.baseurl }}/tags/#{{ tag_name | slugize }}">{{ tag_name }}</a> 
      {% endfor %}
    </div>
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.date_format | default: "%Y/%m/%d" -%}
      更新日: {{ page.date | date: date_format }} {{ page.comment }}
    </time>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
</article>
