<div class="sidebar-item-fixed">
  <div class="sidebar-item sidebar-header">
    <div class='sidebar-brand'>
      {% assign array_title = site.title | split: " " %}
      <a href="{{ site.baseurl }}/about/">{{ array_title[0] }}<BR>{{ array_title[1] }}</a>
    </div>
    <p class="lead">{{ site.description }}</p>
    <p class="contact">
    {% include icon-github.html %}
    {% include icon-twitter.html %}
    </p>
  </div>
  <div class="sidebar-item sidebar-nav">
    <ul class="nav">
      <li class="nav-title">Pages</li>
      {% for item in site.data.navigation %}
        <li><a class="nav-item" href="{{ site.baseurl }}{{ item.link }}"> {{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="sidebar-item sidebar-nav">
    <ul class="nav">
      <li class="nav-title">Recent Updates</li>
      {% for post in site.posts limit:5 %}
        <li><a class="nav-item" href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%m/%d " }}{{ post.title  | truncate: 14 }}</a></li>
      {% endfor %}
    <ul>
  </div>
</div>
