.container {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  
  .content {
    /*margin-left: 180px;*/
    flex: 1 1 auto;
    padding: 0px 0px;
  }
  
  .sidebar {
    /*position: fixed;*/
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 260px;
    padding: 15px;
    z-index: 1;
    background-color: #CCC;
    color: #111;
  }